.header {
	display: flex;
	background: #dcd5ff;
	justify-content: space-between;
}

.searchbar {
	flex-grow: 1;
	display: grid;
	place-items: center;
}

.icons {
	display: flex;
	align-items: center;
}
.icons > * > img {
	margin-right: 1rem;
}

.profile {
	margin-left: 1rem;
	display: flex;
	align-items: center;
}
.profile > div {
	margin-right: 0.5rem;
}

.popover {
	width: 210px;
	position: absolute;
	top: 48px;
	right: 0;
}
.popover-item {
	margin: 0;
	height: 64px;
	display: grid;
	place-items: center;
	background-color: #fff;
}
.popover-item::hover {
	background-color: #f8f6ff;
}
