.header {
  display: flex;
  background: #dcd5ff;
}

.searchbar {
  flex-grow: 1;
  display: grid;
  place-items: center;
}

.icons > * > img {
  margin-right: 1rem;
}

.profile {
  margin-left: 1rem;
  display: flex;
}
.profile > div {
  margin-right: 0.5rem;
}
