.header {
	display: flex;
	background: #dcd5ff;
	height: 3.4vw;
	z-index: 1;
	position: fixed;
	min-width: 100vw;
	top: 0;
}

.searchbar {
	flex-grow: 1;
	display: grid;
	place-items: center;
}

.search {
	width: 20vw;
	height: 2vw;
	padding: 1vw;
}

.icons {
	display: flex;
	align-items: center;
}
.icons > * > img {
	margin-right: 1rem;
}

.profile {
	margin-left: 1rem;
	margin-right: 1rem;
	display: flex;
	align-items: center;
	border-radius: 50%;
}
.profile > div {
	margin-right: 0.5rem;
	border-radius: 50%;
}

.popover {
	width: 210px;
	position: absolute;
	top: 48px;
	right: 0;
}
.popover-item {
	margin: 0;
	height: 64px;
	display: grid;
	place-items: center;
	background-color: rgb(255, 255, 255);
	cursor: pointer;
}
.popover-item:hover {
	background-color: #dcd5ff;
	border-left: 0.3vw solid #857fef;
}

.headerAvatar {
	border-radius: 50%;
	width: 2.5vw;
	height: 2.5vw;
	cursor: pointer;
}

.brandLogo {
	margin-top: 0.4vw;
}
